<div class="contents_sign_up">
 <div class="left_back">
 </div>
   
  <div class="middle_back">

     <div class= 'rogo'></div>
     <div class="title">ツクッター</div><br><br>
     <p class="page_top">アカウント登録</p>
       <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
       <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email,maxlength: "50" %>
        </div>
        <div class="field">
          <%= f.label :ニックネーム %>(15文字以下)<br />
          <%= f.text_field :Nickname %>
        </div>
        <div class="field">
          <%= f.label :"パスワード" %>
            (<%= @minimum_password_length %> 文字以上30文字以下)<br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :"パスワード(確認)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field">
           <%= f.hidden_field :admin ,value: "false" %>
        </div>
          <div class="field">
           <%= f.hidden_field :student_or_coach ,value: "student" %>
        </div>
       
     <div class="field">
          <%= f.submit "登録する", class: "btn-n btn--orange btn--shadow" %>
          <%= link_to "戻る", "/", class:  "btn btn--blue btn--shadow" %> 
        </div>
       <% end %>
   </div>

 <div class="right_back">
 </div>

</div>