          <div class="content-post-area">
            <div class="content-post" >
              <div class="content-post-left">
               <% if tweet.user.user_icon.presence %>
                <%= link_to image_tag(tweet.user.user_icon, class: 'icon' )  , root_path  %>
               <% else %>
                 <%= link_to image_tag("/images/icon.png", class: 'headder-account' )  , root_path  %>
               <% end %>
              </div>
              <div class="content-post-center">
                <div class="content-post-center-top">
                  <% if tweet.user.student_or_coach == "coach" %>
                    <%= image_tag("/images/coach.png", class: 'coach_icon' ) %>
                  <% end %>
                  <p class="contributor-name"><%= tweet.user.Nickname %></p>
                  <p class="time"><%= tweet.created_at.in_time_zone("Tokyo") %></p>
                </div>
                <p class="tweet-string"><%= tweet.tweet %></p>
                
              </div>
              <div class="content-post-right">
                <%= image_tag '/images/humbergerbutton.png', class: "humbergerbutton" %>
                <ul class="more_list">
                  <li><%= link_to '詳細', tweet_path(tweet.id), method: :get, class: "humberger_list" %></li>
                  <% if user_signed_in? %>
                   <% if tweet.user.id == current_user.id %>
                    <li><%= link_to '編集', edit_tweet_path(tweet.id), method: :get, class: "humberger_list" %></li>
                    <li><%= link_to '削除', tweet_path(tweet.id), method: :delete, class: "humberger_list" %></li>
                   <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="content-post-bottom">
              <div class="tweet-good-area">
                <% if user_signed_in? %>
                  <% if current_user.tweet_already_liked?(tweet) %>
                    <%= link_to image_tag("/images/heart.png", class: 'tweet-good' )  , tweet_tweet_like_path(tweet.id,current_user.id), method: :delete  %> 
                  <% else %>
                    <%= link_to image_tag("/images/heart.png", class: 'tweet-good-opa' )  , tweet_tweet_likes_path(tweet.id), method: :post   %>
                  <% end %> 
                  <% end %>
                  <% unless user_signed_in? %>
                   <%= link_to image_tag("/images/heart.png", class: 'tweet-good-opa' )  , tweet_tweet_likes_path(tweet.id)  %>
                  <% end %>
              </div>
              <div class="tweet-comment-area">
                <%= link_to image_tag("/images/comment.png", class:"tweet-comment"),tweet_comments_path(tweet.id) %>
              </div>
            </div>
          </div>