      <div class="side-bar">
        <div class="tweet-content">
          <div class="tweet-content-top">
            <b class="top-item">呟き</b>
          </div>
              <ul>
                <li><a class="side-bar-content"  href="/">タイムライン</a></li>

                <% if user_signed_in? %>
                  <li><a class="side-bar-content"  href="/tweets/new">呟く</a></li>
                  <li><%= link_to "My呟き", "/user/#{current_user.id}", class: "mytweet" %></li>
                <% end %>
              </ul>
        </div>
        <div class="research-content">
          <div class="research-content-top">
            <b class="top-item">研究</b>
          </div>
            <ul>
              <li><%= link_to "タイムライン", researches_path, class: "side-bar-content" %></li>
              <% if user_signed_in? %>  
                <li><%= link_to "研究を投稿する", new_research_path, class: "side-bar-content" %></li>
                <li><%= link_to "My研究", my_research_researches_path, class: "side-bar-content" %></li>
              <% end %>
            </ul>
        </div>
        <% if user_signed_in? %>
        <div class="coach-content">
            <% if current_user.student_or_coach == "student" %>
          <div class="coach-content-for-student">
            <div class="coach-content-top">
              <b class="top-item">コーチ</b>
            </div>
              <ul>
                <li><a class="side-bar-content" href="/">自分のコーチ一覧</a></li>
                <li><a class="side-bar-content"  href="/">アンケート</a></li>
                <li><a class="side-bar-content"  href="/">コーチになる</a></li>
              </ul>
          </div>
            <% elsif current_user.student_or_coach == "coach"   %>
          <div class="coach-content-for-coach">
            <div class="coach-content-top">
              <b class="top-item">コーチ</b>
            </div>
              <ul>
                <li><a class="side-bar-content"  href="/">自分の生徒一覧</a></li>
                <li><a class="side-bar-content"  href="/">主体的な学びへのシート</a></li>
                <li><a class="side-bar-content"  href="/">コーチランキング</a></li>
              </ul>
          </div>
            <% end %>
        </div> 
            <% if current_user.admin == "true" %>
        <div class="admin-content">
          <div class="admin-content-top">
            <b class="top-item">運営</b>
          </div>
            <ul>
              <li> <%= link_to "講師承認", operations_path , class: "side-bar-content" %></li>
            </ul>
        </div>
            <% end %>
        <% end %>
      </div>