    <%= render partial: "header" %>
    <div class="middle-content">
      <%= render partial: "sidebar" %>
      <div class="main">
       <%= render partial: "postfunction" %>
        <div class="contents-row">
          <% @tweets.each do |tweet| %>
            <%= render partial: "postindex", locals: { tweet: tweet } %>
          <% end %>
        </div>
      </div>
      
    </div>
    <%= render partial: "footer" %>