<div class="contents">
 <div class="left_back">
 </div>
   
  <div class="middle_back">
    <div class= 'rogo'></div>
       <div class="title">ツクッター</div>
    <p class="page_top">ログイン</p>
       <%= form_with model: @user, url: user_session_path, local: true do |f| %>
       <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>
       <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
       </div>
       <div class="field">
        <%= f.submit "ログインする" , class: "btn-n btn--orange btn--shadow"%>
        <%= link_to "戻る", "/", class:  "btn btn--blue btn--shadow" %> 
       </div>
      <% end %>
   </div>

 <div class="right_back">
 </div>

</div>