    <%= render partial: "tweets/header" %>
    <div class="middle-content">
      <%= render partial: "tweets/sidebar" %>
      <div class="main">
        <div class="contents-row">
          <div class="profile">
            <h1>プロフィール</h1>
            <h3><%= "ニックネーム:#{@user.Nickname}" %></h3>
            <h3><%= "一言:#{@user.aWord}" %></h3>
            <div class="message_link">
              <%= link_to image_tag("/images/message.png", class:"message"),new_chat_room_path %>
              <p>⏪一緒に研究するには、まずはメッセージを送ろう！</p>            
            </div>
          </div>
          <% @tweets.each do |tweet| %>
            <%= render partial: "tweets/postindex", locals: { tweet: tweet } %>
          <% end %>
        </div>
      </div>
      
    </div>
    <%= render partial: "tweets/footer" %>