<%= render partial: "tweets/header" %>
<div class="middle-content">
  <%= render partial: "tweets/sidebar" %>
  <div class="main">
    <p class="title-ope">講師希望ユーザ一覧</p>
   <% @users.each do |user| %>
     <% if user.user_identification.attached? && user.student_or_coach == "student"  %>
     <div class="content-post-area-ope">
        <p class="contributor-name"><%= user.Nickname %></p>
         <%= link_to image_tag(user.user_icon, class: 'icon' )  , root_path  %>
        <p class="contributor-name"><%= "本名：" + user.FirstName + user.LastName %></p>
        <p class="contributor-name"><%= "大学：" + user.university %></p>
        <p class="contributor-name"><%= "学部学科：" + user.department + "学部" + user.major + "学科" %></p>
        <p class="contributor-name">本人証明画像</p>
        <%= link_to image_tag(user.user_identification)  , root_path  %>
        <%= link_to "講師として承認する"  , edit_operation_path(user.id) ,class: "btn btn--blue btn--shadow" %>
    </div>
   <% end %>     
   <% end %>
  </div>
</div>
<%= render partial: "tweets/footer" %>